<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="local-feed"
         value="..\..\packages" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="local-feed">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>